falcon:
  url: "http://127.0.0.1:1988/v1/push"
  endpoint: "localhost"
logs:
  - name: "nginx-log0"
    path: "/path/to/log0"
    delimiter: "\n"
    tsEnabled: true
    tsPattern: "([0-9]{4})-([0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):[0-9]{2}"
    items:
      - metric: "log0.status.200"
        tags: "module=nginx"
        counterType: "GAUGE"
        step: "60"
        pattern: "status"
        method: "count"
      - metric: "log0.request.time"
        tags: "module=nginx"
        counterType: "GAUGE"
        step: "60"
        pattern: "time"
        method: "statistic"
  - name: "nginx-log1"
    path: "/path/to/log1"
    delimiter: "\n"
    tsEnabled: true
    tsPattern: "([0-9]{4})-([0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):[0-9]{2}"
    items:
      - metric: "log1.status.200"
        tags: "module=nginx"
        counterType: "GAUGE"
        step: "60"
        pattern: "status"
        method: "count"
