falcon:
  url: "http://127.0.0.1:1988/v1/push"
  endpoint: "localhost"
logs:
  - name: "test"
    path: "/path/to/test.log"
    delimiter: "\n"
    tsEnabled: true
    tsPattern: "([0-9]{4})-([0-9]{2})-([0-9]{2}) ([0-9]{2}):([0-9]{2}):([0-9]{2})"
    inotifyEnabled: true
    items:
      - metric: "test.cost"
        tags: "module=mule,app=test"
        counterType: "GAUGE"
        step: 60
        pattern: 'response data lenth \[([0-9]*)\].*retmsg'
        method: "statistic"
